

  <!--displaying COMMENT box-->
  <div class="row">
    <div class="container">
      <div class="detailBox ">
        <div class="titleBox">
          <label>Comments on this car</label>
        </div>
        <!--displaying existing comments-->
        <div class="actionBox">
          <ul class="commentList">
            <li *ngFor="let comm of comments" >
              <div class="commenterImage">
                <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" />
              </div>
              <div class="commentText">
                <p class="">{{comm.comment}}</p> <span class="date sub-text">on {{comm.date}}</span>
              </div>
            </li>
          </ul>
          <!--form for adding new comment-->
          <form [formGroup]="commentForm"
                class="form-hotizontal" role="form">

            <div class="row">

             <div class="col-sm-10">
               <input class="form-control " type="text" placeholder="Your comments"
                     formControlName="commentText" name="commentar" />
             </div>
              <div class="visible-xs-block form-group"></div> <!--for vertical space when stacking columns-->
              <div class="col-sm-2">
              <button class="btn btn-default btnResponsive " (focus)="Validate()" type="submit">Add</button>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-12">
            <div *ngIf="!validated && !commentForm.controls['commentText'].valid" class="errorMessage">
              Comment text is required.
            </div>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div> <!--end COMMENT bod-->


