input[type=text] {
  /*border:1px solid #000;*/
  border-radius:0;
}
input[type=password] {
  /*border:1px solid #000;*/
  border-radius:0;
}

.nopadding{
  padding:0%;
}

.custom{
  border: 1px solid #ccc;
}


