
<form [formGroup]="stepTwoForm">



  <div class="row">

    <div class="col-md-offset-2 col-md-3 col-sm-12">
      <label>Birth date *</label>
  <div class="input-group">

    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" required formControlName="date">
    <div class="input-group-addon" (click)="d.toggle()" >
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>

  </div>
    </div>

    <div class="col-md-offset-1 col-md-4 col-sm-12">
      <label>Birth place country *</label>
      <div ngbDropdown class="d-inline-block" >
        <button class="btn btn-secondary" id="dropdownMenu1" ngbDropdownToggle style="width:100%" >Options</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>

    </div>

  </div>
</div>
</form>
