        <form [formGroup]="stepOneForm" class="form-horizontal">
        <div class="form-group"></div>
        <div class="form-group"></div>
          <!-- Customized input type to avoid code repeating-->
          <app-shared [bootstrap]="'col-sm-offset-2 col-sm-4'" [type]="'text'" [placeholder]="'first name *'" [name]="'firstname'" [controlName]="'firstName'" ></app-shared>
          <div class="visible-xs-block form-group"></div>
          <app-shared [bootstrap]="'col-sm-4'" [type]="'text'" [placeholder]="'last name *'" [name]="'lastname'" [controlName]="'lastName'" ></app-shared>
          <div class="form-group"></div>
          <app-shared [bootstrap]="'col-sm-offset-2 col-sm-4'" [type]="'text'" [placeholder]="'email address *'" [name]="'firstname'" [controlName]="'email'" ></app-shared>
          <div class="visible-xs-block form-group"></div>
          <app-shared [bootstrap]="'col-sm-4'" [type]="'password'" [placeholder]="'password *'" [name]="'password'" [controlName]="'password'" ></app-shared>
         <!--checkbox for Privacy agreemnet-->
        <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
        <label class="checkbox-inline checkboxStyle"><input type="checkbox" value="" checked formControlName="privacyAgreement">Privacy agreement</label>
        </div>
        </div>
          <!--Link for privacy details-->
        <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
          <a href="#" class="privacyStyle">Link</a>

        </div>
          <div class="col-sm-offset-2 col-sm-3">
          <button type="submit" class="btn btnStyle"  (click)="submitForm()">next</button>
            </div>

        </div>


      </form>

