        <form [formGroup]="stepOneForm" class="form-horizontal">
        <div class="form-group"></div>
        <div class="form-group"></div>
          <!-- Customized input type to avoid code repeating-->
          <app-ng-input [bootstrap]="'col-sm-12 col-md-offset-2 col-md-4'" [type]="'text'" [placeholder]="'first name *'" [name]="'firstname'" [formName]=stepOneForm [controlName]="'firstName'" [notValidated]="notValidated" ></app-ng-input>
          <div class="visible-xs-block form-group"></div>
          <app-ng-input [bootstrap]="'col-sm-12 col-md-4'" [type]="'text'" [placeholder]="'last name *'" [name]="'lastname'" [formName]=stepOneForm [controlName]="'lastName'" [notValidated]="notValidated" ></app-ng-input>
          <div class="form-group"></div>
          <app-ng-input [bootstrap]="'col-sm-12 col-md-offset-2 col-md-4'" [type]="'text'" [placeholder]="'email address *'" [name]="'firstname'" [formName]=stepOneForm [controlName]="'email'" [notValidated]="notValidated" ></app-ng-input>
          <div class="visible-xs-block form-group"></div>
          <app-ng-input [bootstrap]="'col-sm-12 col-md-4'" [type]="'password'" [placeholder]="'password *'" [name]="'password'" [formName]=stepOneForm [controlName]="'password'" [notValidated]="notValidated"></app-ng-input>
         <!--checkbox for Privacy agreemnet-->
          <div class="form-group"></div>
          <div class="form-group"></div>
        <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-4 responsiveForm">
        <label class="checkbox-inline checkboxStyle"><input type="checkbox" formControlName="privacyAgreement">Privacy agreement</label>
        </div>
        </div>
        <div class="row">
          <!--Link for privacy details-->
        <div class="col-sm-6 col-md-offset-2 col-md-4 responsiveForm">
          <a href="#" class="privacyStyle">Link</a>
          <!--button for next step-->
        </div>
          <div class="col-sm-6 col-md-offset-2 col-md-2 responsiveForm">
          <button type="button" class="btn btnStyle"  (click)="submitForm()">next</button>
            </div>


        </div>
          <div class="form-group"></div>
          <div class="form-group"></div>
          <div class="row">
            <div *ngIf="notValidated" class="alert alert-danger col-sm-8 col-sm-offset-2">
              Please fill out the form properly.
            </div>
          </div>
      </form>

