<!--<div class="row">-->
<!--<h1>Sign Up</h1>-->
<!--</div>-->
<!--<div class="row">-->
<!--{{currentStep}}-->
<!--</div>-->



  <div class="row">
      <h1 class="col-sm-12 col-sm-offset-2">Sign Up</h1>
  </div>
  <div class="row">
    <form [formGroup]="_signUpForm" class="col-sm-8 col-sm-offset-2">
      <label class=" progress-bar"> step {{currentStep}}/{{numberOfSteps}}</label>

      <!--<div class="input-group">-->
        <!--<input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" required>-->
        <!--<div class="input-group-addon" (click)="d.toggle()" >-->
          <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
        <!--</div>-->
      <!--</div>-->



    </form>

  </div>



  <router-outlet></router-outlet>

