<div class="container">
  <div class="row"  *ngIf="getStep()!=4">
      <h1 class="col-xs-12 col-md-8 col-md-offset-2 responsiveForm">Sign Up</h1>
  </div>
  <div class="row" *ngIf="getStep()!=4">
    <form [formGroup]="_signUpForm" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 responsiveForm">
      <label class=" progress-bar"> step {{getStep()}}/{{numberOfSteps}}</label>
    </form>
  </div>
<!--router-outlet for injecting content of current step (current route)-->
  <router-outlet></router-outlet>
</div>
